
<form name="form" (ngSubmit)="validSave()" [formGroup]="newUserForm">
  <div>
    <label for="name">Username</label>
    <input type="text" name="name" id="name" formControlName="name"/>
    <div class="valid" *ngIf="newUserForm.get('name').invalid && newUserForm.get('name').touched">
      <small *ngIf="newUserForm.get('name').errors.required">
        Name don't enter empty <br>
      </small>
    </div>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" formControlName="pass"/>
    <div class="valid" *ngIf="newUserForm.get('pass').invalid && newUserForm.get('pass').touched">
      <small *ngIf="newUserForm.get('pass').errors.required">
        Password don't enter empty
      </small>

      <small *ngIf="newUserForm.get('pass').errors.minlength">
        Length may be not less {{newUserForm.get('pass').errors.minlength.requiredLength}}.
        Now count of letters {{newUserForm.get('pass').errors.minlength.actualLength}}.
      </small>
    </div>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" formControlName="email"/>
    <div class="valid" *ngIf="newUserForm.get('email').invalid && newUserForm.get('email').touched">
      <small *ngIf="newUserForm.get('email').errors.required">
        Email don't enter empty <br>
      </small>
      <small *ngIf="newUserForm.get('email').errors.email">
        Email don't correct <br>
      </small>
    </div>
  </div>
  <div>
    <button [disabled]="newUserForm.invalid" class="btn btn-info" type="submit">Save new user</button><span>   </span>
    <button class="btn btn-info" (click)="cancelNewUser()" type="button">Cancel</button>
  </div>
</form>
