<form name="form" (ngSubmit)="fff.form.valid && login()" #fff="ngForm" novalidate>
    <div [ngClass]="{ 'has-error': fff.submitted}">
        <label for="name">Username</label>
        <input type="text" name="name" [(ngModel)]="model.name" id="name" required />
    </div>
    <div [ngClass]="{ 'has-error': fff.submitted}">
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="model.password" #password id="password" required />
    </div>
    <div>
        <button [disabled]="!fff.form.valid" class="btn btn-info">Login as exist user</button>
    </div>
</form>
<br>
<br>
<button class="btn btn-info" (click)="createNewUser()">New user</button>
