<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <label for="username">Username</label>
  <input type="text"
         name="username" [(ngModel)]="model.username"
         id="username" required/>
  <div ngIf="f.submitted
          && !username.valid">Username is required</div>
  <label for="password">Password</label>
  <input type="password"
         name="password" [(ngModel)]="model.password"
         id="password" required/>
  <div ngIf="f.submitted
          && !password.valid">Password is required</div>
  <div>
    <button [disabled]="f.form.valid"> Login </button>
  </div>
</form>
