<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div >
        <label for="name">Username</label>
        <input type="text" name="name" id="name"  formControlName="name"/>
      <div class="valid" *ngIf="loginForm.get('name').invalid && loginForm.get('name').touched">
        <small *ngIf="loginForm.get('name').errors.required">
          Name don't enter empty <br>
        </small>
      </div>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" formControlName="pass"/>
        <div class="valid" *ngIf="loginForm.get('pass').invalid && loginForm.get('pass').touched">
          <small *ngIf="loginForm.get('pass').errors.required">
            Password don't enter empty
          </small>

          <small *ngIf="loginForm.get('pass').errors.minlength">
            Length may be not less {{loginForm.get('pass').errors.minlength.requiredLength}}.
            Now count of letters {{loginForm.get('pass').errors.minlength.actualLength}}.
          </small>
        </div>
    </div>
    <div>
        <button  class="btn btn-info" type="submit" [disabled]="loginForm.invalid">Login as exist user</button>
    </div>
</form>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Current login user:</h4>
  </div>
  <div class="modal-body">
    <div>
      Name: <br>
      Email: <br>
      ChatId:<br>
    </div>
  </div>
</ng-template>
