<div class="container">
  <table class="table" id="List">
    <thead>
    <tr *ngIf="tasks.length !== 0">
      <th>Tools</th>
      <th>Host</th>
      <th>Begin</th>
      <th>Every</th>
      <th>Times</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr *ngFor="let task of tasks" class='clickable-row'>
      <td>{{task.sellist1}}</td>
      <td>{{task.text2}}</td>
      <td>{{task.date1 | date :'medium'}}</td>
      <td>{{task.text3 + " " + task.sellist2}}</td>
      <td>{{task.total}}</td>
      <button class="btn btn-light" (click)="openModalWindows(modal, task)">View</button>
      <button class="btn btn-light" (click)="deleteTask(task.id)">Delete</button>
    </tr>
    </tbody>
  </table>
  <div *ngIf="tasks.length == 0">
    List of actual tasks not found
  </div>


  <ng-template #modal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{currTask.name1}}</h4>
    </div>
    <div class="modal-body">
      <p>
        Name task: {{currTask.name1}} id={{currTask.id}} <br>
        Uses {{currTask.sellist1}} count={{currTask.cnt}} packetsize={{currTask.packetsize}} ttl={{currTask.ttl}} timeout={{currTask.timeout}}<br>
        to host {{currTask.text2}} at {{currTask.date1 | date :'medium'}}. Every {{currTask.text3}} {{currTask.sellist2}}. Total: {{currTask.total}} times.<br>
        With {{currTask.sellist3}} uses {{currTask.sellist4}} with attr {{currTask.text4}}.
      </p>
      <button class="btn btn-light" (click)="openModalModalWindows(modal2)">View result</button>
    </div>
  </ng-template>

  <ng-template #modal2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{currTask.name1}}</h4>
    </div>
    <div class="modal-body">
      <div>
        <table class="table table-hover" id="List2" *ngIf="CompleteSubTasks.length !== 0">
          <thead>
          <tr>
            <th>Time</th>
            <th>Result</th>
          </tr>
          </thead>
          <tbody id="tbody2">
          <tr *ngFor="let subtask of CompleteSubTasks" class='clickable-row'>
            <td>{{subtask.date1 | date: 'medium'}}</td>
            <td>{{subtask.result}}</td>
          </tr>
          </tbody>
        </table>
        <p *ngIf="CompleteSubTasks.length == 0"> No result</p>
      </div>
    </div>
  </ng-template>

</div>
