<div class="container">
  <table class="table table-hover" id="List">
    <thead>
    <tr *ngIf="tasks.length !== 0">
      <th>Tools</th>
      <th>Host</th>
      <th>Begin</th>
      <th>Every</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr *ngFor="let task of tasks">
      <td>{{task.sellist1}}</td>
      <td>{{task.text2}}</td>
      <td>{{task.date1 | date :'medium'}}</td>
      <td>{{task.text3 + " " + task.sellist2}}</td>
      <button class="btn btn-info">Посмотреть</button>
      <button class="btn btn-light" (click)="deleteTask(task.id)">Удалить</button>
    </tr>
    </tbody>
  </table>
</div>
